{% extends 'base.html.twig' %}



{% block body %}
<style>
.grid-container {
  
  display: grid;
  grid-template-columns: 50% 50%  ;
  grid-template-rows: 230px;
  align-content: center;
}
.grid-item{
text-align: center;
border: 1px solid black;
}
    
</style>

{% set num_pregunta = 1 %}

{% if cant_preguntas is divisible by(2)%}
    {% set cant_preguntas = cant_preguntas-2 %}
         {% for i in 0..cant_preguntas %}
    {% if i is divisible by(2)%}
            <div class="grid-container">
                <div class="grid-item"> {{num_pregunta}}) {{preguntas[i].descripcion}}
                	<div class="respuestas">
                		{% set respuestas =RTA[num_pregunta-1] %}
                		
                		{% for respuesta in respuestas%}
                		<br>
                		(----) {{respuesta}}
                		<br>

                		{% endfor %}

                		
                	</div>
                </div>

                <div class="grid-item"> {{num_pregunta+1}})  {{preguntas[i+1].descripcion}}
                	<div class="respuestas">
                		{% set respuestas =RTA[num_pregunta-1] %}
                		
                		{% for respuesta in respuestas%}
                		<br>
                		(----) {{respuesta}}
                		<br>

                		{% endfor %}
                	</div>

                </div>
            </div>
    {% endif %}
    {% set num_pregunta = num_pregunta+1 %}
{% endfor %}
	{% set num_pregunta = num_pregunta+1 %}
     		<div class="grid-container">
               <div class="grid-item">{{num_pregunta}}) {{preguntas[cant_preguntas+2].descripcion}}

               	 <div class="respuestas">
                		{% set respuestas =RTA[num_pregunta-1] %}
                		
                		{% for respuesta in respuestas%}
                		<br>
                		(----) {{respuesta}}
                		<br>

                		{% endfor %}

                		
                	</div>
               </div>

            </div>
{% endif %}





{% endblock %}
